input:focus, textarea:focus, select:focus{
    outline: none;
  }
.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 19vw;
    @media screen and (max-width:1024px){
        width:280px;
    }
    @media screen and (max-width:600px){
        width:300px;
    }
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-items {
    margin-left: 1vw;
    margin-top: 1vh;
}

.main-name {
    color: #3bccf6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 900;
}

.menu-bar {
    background-color: #ffff;
    width: 100%;
}

.fa-search {
    font-size: 25px;
    color: #9f9f9f;
    padding-left: 6px;
    padding-top: 4px;
  }


.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 100px;
    // position: fixed;
}

::placeholder {
    color: #9f9f9f;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9f9f9f;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #9f9f9f;
}

textarea:focus,
input:focus {
    outline: none;
}

.is-active {
    color: #3bccf6;
    font-weight: 600;
}

.mat-nav-list a.active {
    background: blue;
}

.add-bookbtn {
    width: 240px;
    height: 45px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #6fe3ff, #2fc7f5);
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
}
.top-header{
    display: flex;
    width:75vw;
    .search{
        margin-right:auto;
    }
    .logo-set{
        margin-left:auto;
        .logout {
                    font-size: 16px;
                    cursor: pointer;
                    i {
                        margin-right: 7px;
                    }
                }
    }
}
// .logo-set {
//     // margin-left: auto;
//     // padding-right: 40px;
  
//     .logout {
//         font-size: 16px;
//         cursor: pointer;
//         i {
//             margin-right: 7px;
//         }
//         padding-left: 88%;
//     }
// }

.profile-userpic {
    img {
        float: none;
        margin: 0 auto;
        width: 50%;
        height: 70%;
        -webkit-border-radius: 20% !important;
        -moz-border-radius: 20% !important;
        border-radius: 20% !important;
    }
}

::ng-deep .cdk-overlay-pane {
    /* Do you changes here */
      min-width:50vw;
      min-height: 100vh;
}

.search-input{
    border: none;
    width: 400px;
    margin-left: 10px;
    font-size: 16px;
    padding:8px 20px;
    font-weight: 300;
    color: #9f9f9f;
    // border-bottom: 1px solid #9f9f9f;
    border-radius:20px;
    background-color: #efefef;

}
.noresult{
    position: absolute;
    left: 0;
    display: table;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align: center;
}

.option-result{
    position: unset !important;
}

.logout-section{
    margin-left:auto;
}


.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-items: center;
    padding: 0px 40px 0px 15px;
    border-radius: inherit;
}

.menu{
    height: 160px
}

.search-bar{
    position: relative;
    .fa {
        font-size: 18px;
        font-weight: 300;
        color: #4b4b4b;
        // right: -24px;
        // position: absolute;
        top: 10px;
        margin-left: -33px;
      }
}