body {
    font-family: Arial;
    color: white;
    width: 100vh;
    height: 100vh;
    font-size: 16px
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    // padding-top: 20px;
}

.left {
    width: 20vw;
    height: 100vh;
    left: 0;
    background-image: url("../../../assets/images/Group.png"), linear-gradient(to right, #bcd5ff, #6868e9);
}

.right {
    width: 80vw;
    height: 100vh;
    right: 0;
    background-color: #f5f5f5;
    background-image: url('../../../assets/images/Group2_.png');
}

.centered {
    width: 100%;
    position: relative;
    text-align: center;
    height: 100vh;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

.About-WiseReads {
    font-family: Montserrat;
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    padding: 2vw 0 1vw 2vw;
    margin: 0
}

.wiseReads-box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
    width: 35vw;
    height: 49vh;
}

.content-box {
    padding-left: 2vw;
    padding-right: 2vw;
    height: calc(100% - 5vw);
}

.content {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
}

.login-box {
    width: 128px;
    height: 54px;
}

.form1 {
    margin: 20px;
}

.wiseReads-box mat-form-field {
    width: 30vw;
}


.example-card {
    max-width: 400px;
    margin-top: 168px;
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: absolute;
    padding: 16px;
    border-radius: 4px;
    background-color: #ffffff;
    left: 20px;
    right: 20px;
    bottom: 20px
}

.cnt-spt {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.9;
    letter-spacing: normal;
    text-align: left;
    color: #6e6e6e;
}

.login-heading {
    display: flex;
    margin: 0px 40px;
    .WiseReads {
        font-size: 40px;
        font-weight: 600;
        color: #6869e9;
        margin-right: auto;
    }
    .Login {
        font-size: 40px;
        font-weight: 600;
        color: #3bccf6;
        margin-left: auto;
    }
}

.login-fields {
    width: 30vw;
    height: 5vh;
    padding: 20px;
    margin-bottom: 35px;
    border: 0.5px solid #c8c8c8;
}

.login-btn {
    display: flex;
    float: right;
    margin-right: 3vh;
}