<section>
  <div class="row">
    <div class="item item-1 col-lg-3 col-md-3 col-sm-12">
      <img class="dashboard-img" src="../../../assets/images/metrics (1).png" />
      <h1>Users List</h1>
    </div>

    <div class="item item-2 col-lg-9 col-md-9 col-sm-12">
      <div class="input-container">
        <input
          class="form-control"
          placeholder="Search..."
          type="text"
          name="search"
          [(ngModel)]="filter"
        />
      </div>
      <button
        class="action-button"
        routerLink="/app-add-user"
        mat-button
        mat-raised-button
      >
        Add User
      </button>
    </div>
  </div>

  <div class="table-responsive user-status-table mb-5">
    <table class="table ">
      <thead>
        <tr>
          <th style="width:9%">
            User ID
          </th>
          <th style="width:16%">
            User Name
          </th>
          <th style="width:20%">
            Email ID
          </th>
          <th style="width:13%">
            Phone
          </th>
          <th class="text-center" style="width:4%">
            Gender
          </th>
          <th class="text-center" style="width:14%">
            Status
          </th>

          <th class="text-center">
            Actions
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="
            let data of ELEMENT_DATA
              | filter: filter
              | paginate: { itemsPerPage: 8, currentPage: p };
            let i = index
          "
        >
          <td>{{ data.userId }}</td>
          <td *ngIf="data.firstName != null; else nodata">
            {{ data.firstName }} {{ data.lastName }}
          </td>

          <td
            tooltip="{{ data.email }}"
            placement="right"
            show-delay="500"
            theme="dark"
            offset="16"
          >
            <span class="ellipses">{{ data.email | shorten: 20:"..." }}</span>
          </td>
          <td *ngIf="data.contactNumber != null; else nodata">
            {{ data.contactNumber }}
          </td>
          <td *ngIf="data.genderId != null; else nodata">
            <span *ngIf="data.genderId == 1">Male</span>
            <span *ngIf="data.genderId == 2">Female</span>
          </td>
          <td class="text-center">
            <ng-container *ngIf="data.userStatusId != null; else nodata">
              <span *ngIf="data.userStatusId == 1">Active</span>
              <span *ngIf="data.userStatusId == 2">Inactive</span>
            </ng-container>
          </td>

          <ng-template #nodata>
            <p class="text-center">-</p>
          </ng-template>
          <td class="text-center">
            <button
              class="edit-button"
              (click)="editUser(data.userId)"
              mat-button
              mat-raised-button
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      style="float: right"
      class="my-pagination"
      (pageChange)="p = $event"
      maxSize="9"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
    ></pagination-controls>
  </div>
</section>

<!-- MAT TABLE -->

<!-- <section>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex="50%">
            <img class="dashboard-img" src="../../assets/images/metrics (1).png">
            <h1>Users List</h1>
        </div>
        <div class="item item-2" fxFlex="50%">
           

            <button class="action-button" routerLink='/app-add-user' mat-button mat-raised-button>Add User</button>
        </div>
    </div>

    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile">

            <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef> User ID </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.userId}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="userName">
                <mat-header-cell *matHeaderCellDef> User Name</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.firstName}} {{element.lastName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="emailId">
                <mat-header-cell *matHeaderCellDef> Email ID </mat-header-cell>
                <mat-cell *matCellDef="let element">
                   
                    <span class="ellipses" tooltip="{{element.email}}" placement="right" show-delay="500" theme="dark" offset="16">{{element.email}}</span>

                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.contactNumber}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="gender">
                <mat-header-cell *matHeaderCellDef> Gender</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span *ngIf="element.genderId==1">Male</span>
                    <span *ngIf="element.genderId==2">Female</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span *ngIf="element.userStatusId==1">Active</span>
                    <span *ngIf="element.userStatusId==2">Inactive</span>

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button class="edit-button" (click)="editUser(element.userId)" mat-button mat-raised-button>Edit</button>

                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="[6]" showFirstLastButtons></mat-paginator>
    </div>
</section> -->

<!-- <button class="mr-2 action-button" mat-button mat-raised-button>Import Books</button> -->
<!-- <input (onChange)="applyFilter($event.target.value)" matInput placeholder="Search"> -->
