thead>tr>th {
    cursor: pointer;
}

.filter{
    width: 300px;
    margin-left: auto;
    padding: 0px;
    margin-bottom: 20px;
}


.my-pagination /deep/ .ngx-pagination .current {
    background: transparent;
    font-weight: 600;
    color: #3bccf6;
  }

.user-status-table{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    padding: 0px 20px;
}

th{
    font-size: 0.9em;
    font-weight: 600;
    color: #505050;
}

td,.fa{
    font-size: 0.8em;
    font-weight: 300;
    color: #4b4b4b;
}

.bookname{
    flex: 0 0 20vw;
    margin-right: 22px;
 }


 .no-data{
    text-align: center;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

 }
 .mat-dialog-container {
 transform: none;
 width: 60%;
 height: 40%;
 min-height: auto;
 }  
 .heading{
    font-size: 24px;
    font-weight: 500;
    margin: 10px 16px;
    color: #707070
 }

