<section class='container-fluid'>

  <div class="cards-heading">
  <img class="dashboard-img" src="../../assets/images/metrics (1).png">
  <h1 *ngIf="check">Add Book</h1>
  <h1 *ngIf="!check">Edit Book</h1>

  </div>

  <div class="form">
      <form name="myForm" #addBookForm="ngForm"  novalidate>
      
          <div class="row form-group">
              <div class="col-md-6">
                  <input    type="text" 
                            placeholder="Book Name" 
                            name="title"
                            [(ngModel)]="model.title"
                             #title="ngModel"
                            class="form-control" 
                            [ngClass]="{ 'is-invalid': addBookForm.submitted && title.invalid }"
                            required
                            />
                  <div *ngIf="addBookForm.submitted && title.invalid" class="invalid-feedback">
                      <div *ngIf="title.errors.required">Book Name is required</div>
                  </div>
                
              </div>
              <div class="col-md-6">
                    <input type="text" 
                            placeholder="Publisher" 
                            [(ngModel)]="model.publisher"
                             #publisher="ngModel"
                             required
                             name="publisher"
                            class="form-control" 
                            [ngClass]="{ 'is-invalid': addBookForm.submitted && publisher.invalid }"
                    />
                    <div *ngIf="addBookForm.submitted && publisher.invalid" class="invalid-feedback">
                        <div *ngIf="publisher.errors.required">Publisher is required</div>
                    </div>
              </div>
          </div>

          <div class="row form-group">
              <div class="col-md-6">
                <input type="text" 
                        placeholder="ISBN Code" 
                        [(ngModel)]="model.isbnCode"
                        #isbnCode="ngModel"
                        name="isbnCode"
                        required
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': addBookForm.submitted && isbnCode.invalid }"
                        />
                <div *ngIf="addBookForm.submitted && isbnCode.invalid" class="invalid-feedback">
                    <div *ngIf="isbnCode.errors.required">ISBN Code is required</div>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="date">
                            <input  
                                [matDatepicker]="picker"  
                                placeholder="Publication Date" 
                                [(ngModel)]="model.publicationDate"
                                #publicationDate="ngModel"
                                name="publicationDate"
                                required
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': addBookForm.submitted && publicationDate.invalid }"
                            />
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                  </div>
              
                    <div *ngIf="addBookForm.submitted && publicationDate.invalid" class="invalid-feedback">
                        <div *ngIf="publicationDate.errors.required">Publication Date is required</div>
                    </div>
              </div>
          </div>

          <div class="row form-group">
              <div class="col-md-6">
                    <input type="text" 
                            placeholder="Author Name" 
                            [(ngModel)]="model.author"
                            #author="ngModel"
                            required
                            name="author"
                            class="form-control" 
                            [ngClass]="{ 'is-invalid': addBookForm.submitted && author.invalid }" 
                    />
                    <div *ngIf="addBookForm.submitted && author.invalid" class="invalid-feedback">
                        <div *ngIf="author.errors.required">Author Name is required</div>
                    </div>
              </div>
              <div class="col-md-6">
                    <input type="text" 
                            placeholder="Cover Page" 
                            [(ngModel)]="model.bookCoverPage"
                            #bookCoverPage="ngModel"
                            name="bookCoverPage"
                            required
                            class="form-control" 
                            [ngClass]="{ 'is-invalid': addBookForm.submitted && bookCoverPage.invalid }" 
                    />
                    <div *ngIf="addBookForm.submitted && bookCoverPage.invalid" class="invalid-feedback">
                        <div *ngIf="bookCoverPage.errors.required">Cover Page is required</div>
                    </div>
              </div>
          </div>

          <div class="row form-group">
              <div class="col-md-6">
                    <textarea type="text" 
                                placeholder="Description" 
                                [(ngModel)]="model.bookDescription"
                                #bookDescription="ngModel"
                                required
                                name="bookDescription"
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': addBookForm.submitted && bookDescription.invalid }"  >
                    </textarea>
                    <div *ngIf="addBookForm.submitted && bookDescription.invalid" class="invalid-feedback">
                        <div *ngIf="bookDescription .errors.required">Description is required</div>
                    </div>
              </div>
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-12">
                                <input type="text" 
                                        placeholder="No. of Pages" 
                                        [(ngModel)]="model.numberOfPages"
                                        #numberOfPages="ngModel"
                                        required
                                        name="numberOfPages"
                                        class="form-control" 
                                        [ngClass]="{ 'is-invalid': addBookForm.submitted && numberOfPages.invalid }"  
                                        />
                                <div *ngIf="addBookForm.submitted && numberOfPages.invalid" class="invalid-feedback">
                                    <div *ngIf="numberOfPages.errors.required">No. of Pages is required</div>
                                </div>
                      </div>
                      <div class="col-md-12 mt-3">
                              <input type="text" 
                                    placeholder="Sample Page Url" 
                                    [(ngModel)]="model.samplePageUrl"
                                    #samplePageUrl="ngModel"
                                    required
                                    name="samplePageUrl"
                                    class="form-control" 
                                    [ngClass]="{ 'is-invalid': addBookForm.submitted && samplePageUrl.invalid }"  
                                    />
                              <div *ngIf="addBookForm.submitted && samplePageUrl.invalid" class="invalid-feedback">
                                  <div *ngIf="samplePageUrl.errors.required">Sample Page Url is required</div>
                              </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row form-group">
                  <div class="col-md-6">
                        <select placeholder="Select bookGenre" 
                                name="bookGenre" 
                                id="genreId" 
                                [(ngModel)]="model.genreId"
                                #genreId="ngModel"
                                required
                                name="genreId"
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': addBookForm.submitted && genreId.invalid }"   
                        >
                                <option value="undefined" hidden>Select Genre</option>
                                <option *ngFor="let id of comboBoxesbookGenre" [value]="id.genre_id"
                                (onSelectionChange)="comboGenr($event,id)">{{id.genre}}
                                </option>
                        </select>
                        <div *ngIf="addBookForm.submitted && genreId.invalid" class="invalid-feedback">
                            <div *ngIf="genreId .errors.required">Select Genre is required</div>
                        </div>
                  </div>
                  <div class="col-md-6">
                        <input type="text" 
                                placeholder="Image Url1" 
                                [(ngModel)]="model.imagesUrl1"
                                #imagesUrl1="ngModel"
                                required
                                name="imagesUrl1"
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': addBookForm.submitted && imagesUrl1.invalid }"   
                        />
                        <div *ngIf="addBookForm.submitted && imagesUrl1.invalid" class="invalid-feedback">
                            <div *ngIf="imagesUrl1.errors.required">Image Url1 is required</div>
                        </div>
                  </div>
          </div>

          <div class="row form-group">
                  <div class="col-md-6">
                        <input type="text" 
                                placeholder="Edition" 
                                [(ngModel)]="model.edition"
                                #edition="ngModel"
                                required
                                name="edition"
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': addBookForm.submitted && edition.invalid }"  
                        />
                        <div *ngIf="addBookForm.submitted && edition.invalid" class="invalid-feedback">
                            <div *ngIf="edition .errors.required">Edition is required</div>
                        </div>
                  </div>
                  <div class="col-md-6">
                        <input type="text" 
                                placeholder="Image Url2" 
                                [(ngModel)]="model.imagesUrl2"
                                #imagesUrl2="ngModel"
                                required
                                name="imagesUrl2"
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': addBookForm.submitted && imagesUrl2.invalid }"  
                        />
                        <div *ngIf="addBookForm.submitted && imagesUrl2.invalid" class="invalid-feedback">
                            <div *ngIf="imagesUrl2.errors.required">Image Url2 is required</div>
                        </div>
                  </div>
          </div>


          <div class="row form-group">
                  <div class="col-md-6">
                        <select placeholder="Select Owner" 
                                name="ownerId" 
                                id="ownerId" 
                                [(ngModel)]="model.ownerId"
                                #ownerId="ngModel"
                                required
                                name="ownerId"
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': addBookForm.submitted && ownerId.invalid }"   
                         >
                            <option value="undefined" hidden>Select Owner</option>
                            <option  value="1">omniwyse</option>
                        </select>
                        <div *ngIf="addBookForm.submitted && ownerId.invalid" class="invalid-feedback">
                            <div *ngIf="ownerId .errors.required">Owner is required</div>
                        </div>
                  </div>
                  <div class="col-md-6">
                        <input type="text" 
                                placeholder="Rental Value" 
                                [(ngModel)]="model.rentPerDay"
                                #rentPerDay="ngModel"
                                required
                                name="rentPerDay"
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': addBookForm.submitted && rentPerDay.invalid }" 
                        />
                        <div *ngIf="addBookForm.submitted && rentPerDay.invalid" class="invalid-feedback">
                            <div *ngIf="rentPerDay.errors.required">Rental Value is required</div>
                        </div>
                  </div>
          </div>

          <div class="row form-group">
                  <div class="col-md-6">
                        <input type="text" 
                                placeholder="Price" 
                                [(ngModel)]="model.bookPrice"
                                #bookPrice="ngModel"
                                required
                                name="bookPrice"
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': addBookForm.submitted && bookPrice.invalid }" 
                        />
                        <div *ngIf="addBookForm.submitted && bookPrice.invalid" class="invalid-feedback">
                            <div *ngIf="bookPrice.errors.required">Book Price is required</div>
                        </div>
                  </div>
                  <div class="col-md-6">
                        <input type="number" 
                                placeholder="No.of Copies" 
                                [(ngModel)]="model.stock"
                                #stock="ngModel"
                                required
                                name="stock"
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': addBookForm.submitted && stock.invalid }" 
                            />
                        <div *ngIf="addBookForm.submitted && stock.invalid" class="invalid-feedback">
                            <div *ngIf="stock.errors.required">No.of Copies is required</div>
                        </div>
                  </div>
          </div>

          
          <div class="form-group">
                <button mat-raised-button style="background-color: rgb(78, 75, 75) ;color: #ffffff; width: 8vw;height: 40px;" (click)="cancel()" 
                class=" mr-3 mat-raised-button mat-warn mat-cancel"> Cancel</button>
          
                <button mat-raised-button style="background-color: #2fc7f5 ;color: #ffffff;width: 8vw;height: 40px;" *ngIf="check" (click)="onSubmit()"
                 class="mr-3 mat-raised-button mat-primary">Save</button>
      
                 <button mat-raised-button style="background-color: #2fc7f5 ;color: #ffffff;width: 8vw;height: 40px;" *ngIf="!check" (click)="editBooks(addBookForm)" 
                 class="mat-raised-button mat-primary">Update</button>
          
          </div>
      </form>
  </div>
</section>

