<section>
  <app-header></app-header>

  <div class="container">
    <div class="" style="padding-top: 70px">
      <div class="blog-right-grids" style="padding-top: 70px">
        <img
          style="float: left ;padding-right: 25px;"
          src="../../../assets/images/students.jpg"
          alt=""
          height="220px"
        />
        <h1 style="color:#000;">About us</h1>

        <p>
          Wisereads is proud to introduce one of the most awaited and affordable
          book rental platform for individuals, kids, students, and corporates
          across the country. Wisereads Book Rental Library provides hassle-free
          availability of books at a very affordable price.
        </p>
      </div>
    </div>

    <div class="">
      <div class="blog-right-grids">
        <img
          style="float: left ;padding-right: 25px;"
          src="../../../assets/images/kids.jpg"
          alt=""
          height="220px"
        />

        <h1 style="color:#000;">Best Book Rental Library</h1>

        <p>
          Large selection of Children, Corporate and great People
          Recommendations. Convenience of home delivery with FREE shipping.
          Numerous book rental plans to fit your needs. No due dates when
          renting books. Superior customer service.No more manual trips to the
          physical library . No more costly payments to the local bookstore.
        </p>
      </div>
    </div>
  </div>

  <br />

  <app-footer></app-footer>
</section>
