

<div class="split left">
    <p class="About-WiseReads">About WiseReads</p>
    <div class="content-box">
        <p class="content">Wisereads is proud to introduce one of the most awaited and affordable book rental platform for
                individuals, kids, students, and corporates across the country. Wisereads Book Rental Library provides
                hassle-free availability of books at a very affordable price.
        </p>

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="bottom-contact">
                    <h5>Support</h5>
                    <div mat-card-avatar class="example-header-image"></div>
                </mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>

            <mat-card-content>
                <div class="cnt-spt">
                    Call: +914029801891 <br> Email: wisereads1@gmail.com
                </div>
            </mat-card-content>
        </mat-card>
    </div>


</div>

<div class="split right">
    <div class="centered">

        <div class="wiseReads-box">
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <div class="login-heading">
                
                <img src="../../../assets/images/wiseReads.svg" style="width: 230px;border-radius: 0PX;">
                <p class="Login">Register</p>
            </div>
            <div class="form1">
              
                <form class="registration-form"  [formGroup]="registerForm" >
                    <div class="row" >
                      <div class="col-md-6 mt-4">
                            <input 
                              placeholder="First Name"
                              type="text"
                              name="firstName"
                              [(ngModel)]="addUser.firstName"
                              pattern="^[a-zA-Z0-9- ]{1,30}$"
                              required
                              formControlName="firstName"
                              class="form-control" 
                              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                            />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                  <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                      </div>
        
                      <div class="col-md-6 mt-4">
                              <input 
                                placeholder="Last Name"
                                type="text"
                                name="lastName"
                                [(ngModel)]="addUser.lastName"
                              
                                pattern="^[a-zA-Z0-9- ]{1,30}$"
                                required
                                formControlName="lastName" 
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                              />
                              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                              </div>
                      </div>
        
                      <div class="col-md-6 mt-4">
                            <select placeholder="Select Gender" 
                                    class="login-fields"
                                    name="genderId" 
                                    id="genderId" 
                                    [(ngModel)]="addUser.genderId" 
                                    formControlName="genderId" 
                                    class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.genderId.errors }" 
                            >
                                    <option value="undefined" hidden>Gender</option>
                                    <option *ngFor="let id of gender" [value]="id.gender_id" (onSelectionChange)="comboGender($event,id)">             
                                        {{id.gender}}
                                    </option>
                            </select>
                            <div *ngIf="submitted && f.genderId.errors" class="invalid-feedback">
                                <div *ngIf="f.genderId.errors.required">Please select Gender</div>
                            </div>
                      </div>
        
                      <div class="col-md-6 mt-4">
                              <input
                                placeholder="Phone Number"
                                name="contactNumber"
                                [(ngModel)]="addUser.contactNumber"
                                class="login-fields"
                                pattern="^[0-9-]{10}$"
                                required
                                formControlName="contactNumber" 
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }"
                              />
                              <div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
                                    <div *ngIf="f.contactNumber.errors.required">Phone Number is required</div>
                                    <div *ngIf="f.contactNumber.errors.pattern">Phone Number is incorrect</div>
                              </div>
                      </div>
                      
                      <div class="col-md-6 mt-4">
                          <textarea
                            class="login-fields"
                            placeholder="House Address"
                            type="text"
                            name="address"
                            [(ngModel)]="addUser.address"
                            required
                            formControlName="address" 
                            class="form-control" 
                            style="height: 100px;"
                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                          ></textarea>
                          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                          </div>
                  </div>
                      <div class="col-md-6 mt-4">
                        <div class="row">
              
                          <div class="col-md-12 ">
                                  <input
                                    class="login-fields"
                                    placeholder="Company Name"
                                    type="text"
                                    name="company"
                                    [(ngModel)]="addUser.company"
                                    pattern="^[a-zA-Z0-9- ]{1,30}$"
                                    required
                                    formControlName="company" 
                                    class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.company.errors }"
                                  />
                                  <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                                        <div *ngIf="f.company.errors.required">Company Name is required</div>
                                  </div>
                        
                          </div>

                          <div class="col-md-12 mt-4">
                              <input
                              class="login-fields"
                              placeholder="Email"
                              type="text"
                              name="email"
                              [(ngModel)]="addUser.email"
                              required
                              email
                              formControlName="email" 
                              class="form-control" 
                              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                  <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                          </div>
                        </div>
                              
                      </div>
        
                      <div class="col-md-6 mt-4">
                        
                              <input
                                class="login-fields"
                                placeholder="Password"
                                type="password"
                                name="password"
                                [(ngModel)]="addUser.password"
                                required
                                formControlName="password" 
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                              />
                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Passwords is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                              </div>
                      </div>
        
                      <div class="col-md-6 mt-4">
                              <input
                                class="login-fields"
                                placeholder="Confirm Password"
                                type="password"
                                name="confirmPassword"
                                required
                                formControlName="confirmPassword" 
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                              />
                              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                              </div>
                          
                      </div>
        
                      <div class="col-md-12 mt-4" style="display: flex;justify-content: flex-start;align-items: center;">
                        <a routerLink="/login"> Already a user: Login&nbsp;&nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></a>
                          <button mat-raised-button  
                                  (click)="saveUser()"  
                                  style=" width: 7vw;
                                  height: 40px;
                                  margin-left: auto;
                                  background-image: linear-gradient(to bottom, #6fe3ff, #2fc7f5);"
                                  class="mat-raised-button mat-primary">Register</button>
                      </div>  
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>