<section>
  <app-header></app-header>

  <div class="faq_content">
    <br />
    <h2 style="text-align: center">Frequently asked Questions</h2>

    <h5>How do I create an account on the wisereads portal?</h5>
    <p>
      Once you entered the wisreads portal. Click on the register at the right
      hand corner of the home page. Fill in the required details and click on
      register button. Your account has been created.
    </p>

    <h5>How can I login to my account?</h5>
    <p>
      Please click on &quot;Login&quot; at the top right hand corner of the home
      page. Now enter your registered email ID and Password and press login
      button.
    </p>

    <h5>How to borrow books online:</h5>
    <p>
      1. Sign in if you are an existing user or register as new user.  2. Select
      book you want to borrow by clicking on book in the home page (also search
      for a book). Click on checkout. Select checkout date, due date and pay
      advance amount and then click on checkout. Your checkout order is placed.
    </p>

    <h5>How to return a book:</h5>
    <p>
      1. Login to your account. 2. Go to my books 3. Go to delivered books and
      click on check-in. Your Return order has been placed.
    </p>

    <h5>How long can I keep a book with me once I have picked it up?</h5>
    <p>
      We do not have a cap on the number of days that you can keep a book with
      you. You can keep a book for as long as you want. However we request you
      to return the book in a reasonable amount of time since other members may
      also be in the waiting list.
    </p>

    <h5>What is the process of borrowing of a book?</h5>
    <p>
      Select your books of your choice. Click on checkout. We’ll delivery them
      for free at your doorstep. Click on checkin We’ll pick it up once you are
      done by paying the rent amount.
    </p>
  </div>

  <app-footer></app-footer>
</section>
