.example-card {
    /* max-width: 300px; */
/* max-height: 278px; */
width: 213px;
height: 260px;
margin-bottom: 20px;
}
.cardList {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
box-sizing: border-box;
}
.cardList > *:not(:last-child) {
margin-right: 32px;
}
/* Item sizing */
.cardListItem {
flex: 0 1 calc(33.3% - 32px);
}


.flex-item {
&:hover {
    transition: all .3s ease!important;
    box-shadow: 0 9px 12px 1px rgba(50, 50, 50, .2)!important;
    transform: translate(0, -4px);
    z-index: 9;
}
}