<div class="below-footer ">
  <div class="footer" style="background-color: #1b1c1f;color: #6b6f76;">
    <div class="container">
      <div class="w3_newsletter_footer_grids">
        <div class="clearfix"></div>
      </div>
      <div class="w3_agile_footer_grids">
        <div class="row">
          <div class="col-md-3 col-xs-6 w3_agile_footer_grid footer_align">
            <h3>Keep in touch</h3>
            <ul
              style="list-style: none;margin-left: -37px;"
              class="agile_footer_grid_list"
            >
              <li>
                <img
                  src="https://yuppstatic.akamaized.net/yupptv/yupptv_new/Web/Content/images/twitter.svg"
                  alt=""
                />
                <!-- <span class="fa fa-twitter" aria-hidden="true"></span>  -->
                &nbsp; 
                <a href="https://twitter.com/Wisereads1" target="_blank">Twitter</a>
                
              </li>
              <li>
                <img
                  src="https://yuppstatic.akamaized.net/yupptv/yupptv_new/Web/Content/images/facebook.svg"
                  alt="" 
                />
                <!-- <span class="fa fa-facebook" aria-hidden="true"></span> -->
                &nbsp;Facebook
              </li>
              <li>
                <img
                  src="https://yuppstatic.akamaized.net/yupptv/yupptv_new/Web/Content/images/google.svg"
                  alt=""
                />
                <!-- <span class="fa fa-envelope-o" aria-hidden="true"></span> -->
                &nbsp;
                <a href="mailto:wisereads1@gmail.com" target="_blank">wisereads1@gmail.com</a>
              </li>
              <li>
                <span class="fa fa-phone" aria-hidden="true"></span>
                &nbsp;+914029801891
              </li>
              <li>
                <span class="fa fa-linkedin" aria-hidden="true"></span>
                &nbsp;
                <a href="https://www.linkedin.com/company/wisereads/about/" target="_blank">LinkedIn</a>
                
              </li>
            </ul>
          </div>

          <div class="col-md-3 col-xs-6 w3_agile_footer_grid footer_align">
            <h3>Navigation</h3>
            <ul
              style="margin-left: -22px;"
              class="agileits_w3layouts_footer_grid_list"
            >
              <li>
                <span aria-hidden="true"></span>
                <a routerLink="/">Home</a>
              </li>
              <li>
                <span aria-hidden="true"></span>
                <a routerLink="/app-about-us">About Us</a>
              </li>

              <li>
                <span aria-hidden="true"></span>
                <a routerLink="/">Terms & Conditions</a>
              </li>
              <li>
                <span aria-hidden="true"></span>
                <a routerLink="/">Privacy Policy</a>
              </li>
              <li>
                <span aria-hidden="true"></span>
                <a routerLink="/app-faq">FAQ`s</a>
              </li>
            </ul>
          </div>
          <div
            class="col-md-3 col-xs-6 w3ls_address_mail_footer_grids w3_agile_footer_grid footer_align"
          >
            <h3>Contact Us</h3>
            <div class="w3ls_footer_grid_left">
              <div class="w3l-icon">
                <span class="fa fa-map-marker" aria-hidden="true"></span>
              </div>
              <p class="align">
                Q2, A2, 7th Floor
                <span>Cyber Towers Hi-tech City, Hyderabad 500081</span>
              </p>
              <div class="clearfix"></div>
            </div>
            <div class="w3ls_footer_grid_left">
              <div class="w3l-icon">
                <span class="fa fa-phone" aria-hidden="true"></span>
              </div>
              <p class="align">+914029801891</p>
              <div class="clearfix"></div>
            </div>
            <div class="w3ls_footer_grid_left">
              <div class="w3l-icon">
                <span class="fa fa-envelope-o" aria-hidden="true"></span>
              </div>
              <p class="align">
                <a href="mailto:wisereads1@gmail.com" target="_blank">wisereads1@gmail.com</a>
              </p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div
            class="col-md-3 col-xs-6 w3ls_address_mail_footer_grids w3_agile_footer_grid footer_align"
          >
            <h3>Other Links</h3>
            <div>
              <a routerLink="/">
                Request Book
              </a>
            </div>
            <div>
              <a routerLink="/">
                Rent yout Book
              </a>
            </div>
            <div>
              <a routerLink="/">
                Feedback
              </a>
            </div>
            <div>
              <a routerLink="/">
                Refer a friend
              </a>
            </div>
            <div>
              <a
                href="https://play.google.com/store/apps/details?id=com.omni.wisereads&hl=en" target="_blank"
              >
                Mobile App
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="agileinfo_copyright">
        <h6 style="color: #6b6f76; padding-bottom: 8px; text-align: center">
          © 2019. All Rights Reserved | Design by Omniwyse
        </h6>
      </div>
    </div>
  </div>
</div>
