.below-footer {
    background-color: #000;
    min-height: 60px;
}

.container {
    max-width: 1383px;
}
.align{
    margin-top: -23px;
    margin-left: 18px;
    }

    .footer_align{
        margin-top: 18px;
    }