<div class="row">
  <div class="item item-1 col-lg-3 col-md-3 col-sm-12">
    <img class="dashboard-img" src="../../assets/images/metrics (1).png" />
    <h1>Inventory List</h1>
  </div>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile">
    <ng-container matColumnDef="invid">
      <mat-header-cell *matHeaderCellDef fxFlex="0 0 8%">
        Inv ID
      </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="0 0 8%">
        <span class="mobile-label">inv ID:</span>
        {{ element.inventoryId }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bookid">
      <mat-header-cell *matHeaderCellDef fxFlex="0 0 8%">
        Book ID
      </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="0 0 8%">
        <span class="mobile-label">Book ID:</span>
        {{ element.bookId }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bookname">
      <mat-header-cell *matHeaderCellDef> Book Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Book Name:</span>
        <span
          class="ellipses"
          tooltip="{{ element.title }}"
          placement="right"
          show-delay="500"
          theme="dark"
          offset="16"
        >
          <a [routerLink]="['/book-detail', element.bookId]" (click)="checkC()">
            {{ element.title }}
          </a>
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="owner">
      <mat-header-cell *matHeaderCellDef fxFlex="0 0 10%">
        Owner Id
      </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="0 0 10%">
        <span class="mobile-label">Owner Id:</span>
        {{ element.ownerId }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bookvalue">
      <mat-header-cell *matHeaderCellDef> Book value </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Book value:</span>
        {{ element.bookPrice }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rantalvalue">
      <mat-header-cell *matHeaderCellDef fxFlex="0 0 10%">
        Rental Value
      </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="0 0 10%">
        <span class="mobile-label">Rental Value:</span>
        {{ element.rentPerDay }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="availability">
      <mat-header-cell *matHeaderCellDef fxFlex="0 0 10%">
        Availability</mat-header-cell
      >
      <mat-cell *matCellDef="let element" fxFlex="0 0 10%">
        <span class="mobile-label">Availability:</span>
        {{ element.availability }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="influencer">
      <mat-header-cell *matHeaderCellDef> Influencer</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Influencer:</span>
        {{ element.influencerName }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="[8]" showFirstLastButtons></mat-paginator>
</div>
